<h1> Update An Assignment </h1>

<form action ="/assignments/assignment_save">
  
  <p> 
  Name: <input type="text" name= "name" placeholder="name" value="<%= params["name"] %>">

  Description: <input type="text" name= "description" placeholder="description" value="<%= params["description"] %>">

  Blog Link ID: <input type="number" name= "blog_link_id" value="<%= params["blog_link_id"] %>">
  
  Github Link ID: <input type="number" name= "github_link_id" value="<%= params["github_link_id"] %>">

  Student ID: <input type="number" name= "student_id" value="<%= params["student_id"] %>">
  
  <input type="hidden" name = "x" value=" <%= params["x"] %>">
  
  <input type="submit" value="update">
  </p>  
  
</form>